<!DOCTYPE html>
<html>
<head>
  <title>Miracle Store</title>
</head>
<body>
    <form [formGroup] ="main" >
  <header>
   
<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#orders">Orders</a>
  <a href="#contact" routerLink="/contact" routerLinkActive="active">Contact</a>
  <input type="text" placeholder="Search..">
  <div class="topnav-right">
    <a href="#register" routerLink="/reg" routerLinkActive="active">Register</a>
    <a href="#login" routerLink="/login" routerLinkActive="active">Login</a>
  </div>
</div>
  </header>

  <div class="banner">
    <h1>Welcome to our Miracle Store</h1>
    <p>Shop the latest trends in fashion, electronics, and more.</p>
    <a href="#" class="btn" routerLink="/shopnow" routerLinkActive="active">Shop Now</a>
  </div>
  <!-- <div class="row">
    <marquee>
    <div class="column">
      <img src="/assets/men.jpg" alt="mens" style="width:100%">
    </div>
    <div class="column">
      <img src="/assets/women.jpg" alt="Womens" style="width:100%">
    </div>
    <div class="column">
      <img src="/assets/children.jpg" alt="Childerns" style="width:100%">
    </div>
    <div class="column">
      <img src="/assets/electronics.jpg" alt="electronics" style="width:100%">
    </div>
    <div class="column">
      <img src="/assets/furniture.png" alt="furniture" style="width:100%">
    </div>
    </marquee>
  </div> -->
  

  <footer>
    <p>&copy; 2023 Your Miracle Store. All rights reserved.</p>
  </footer>
</form>
</body>
</html>

